body {
    background-color: aqua;
    font-family: "Century Gothic", sans-serif;
    font-size: 14px;
    color: blueviolet
}
.innpakning {
    width: 700px;
    min-height: 300px;
    margin: 50px auto;
    background-color: greenyellow;
    display: flex;
}
.venstre, .høyre {
    margin: 30px;
}
.venstre {
    flex-grow: 1;
}
.hoyre {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    background-color: cadetblue;
}
.innhold {
    flex-grow: 1;
    background-color: beige;
    margin: 5px;
}
h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.shop_building {
    display: flex;
    flex-direction: row;
    border-width: 2px;
    border-style: solid;
    border-color: greenyellow;
}
body {
    background-image: url("covid_virus.jpg");
    position: fill;
}
/* Her har jeg lagt  */ 
#human {
    animation: shake 0.5s;
    animation-iteration-count: infinite;  
    animation-play-state: paused;
    
}
/* Er en animasjon der et bilde definerer startpunktet og sluttpunktet med en jevn bevegelse. 
Den får Human.png til å riste. Dette skjer når variabel (anger) er på nivå oransje (større enn 15) */ 
@keyframes shake {
      0% { transform: translate(1px, 1px) rotate(0deg); }
      10% { transform: translate(-1px, -2px) rotate(-1deg); }
      20% { transform: translate(-3px, 0px) rotate(1deg); }
      30% { transform: translate(3px, 2px) rotate(0deg); }
      40% { transform: translate(1px, -1px) rotate(1deg); }
      50% { transform: translate(-1px, 2px) rotate(-1deg); }
      60% { transform: translate(-3px, 1px) rotate(0deg); }
      70% { transform: translate(3px, 1px) rotate(-1deg); }
      80% { transform: translate(-1px, -1px) rotate(1deg); }
      90% { transform: translate(1px, 2px) rotate(0deg); }
      100% { transform: translate(1px, -2px) rotate(-1deg); }
    }
@keyframes shake_much {
        0% { transform: translate(10px, 1px) rotate(0deg); }
        10% { transform: translate(-10px, -2px) rotate(-1deg); }
        20% { transform: translate(-7px, 0px) rotate(1deg); }
        30% { transform: translate(10px, 2px) rotate(0deg); }
        40% { transform: translate(10px, -1px) rotate(1deg); }
        50% { transform: translate(-10px, 2px) rotate(-1deg); }
        60% { transform: translate(-7px, 1px) rotate(0deg); }
        70% { transform: translate(10px, 1px) rotate(-1deg); }
        80% { transform: translate(-10px, -1px) rotate(1deg); }
        90% { transform: translate(10px, 2px) rotate(0deg); }
        100% { transform: translate(10px, -2px) rotate(-1deg); }
    }
