body {
    background-color: aqua;
    font-family: "Century Gothic", sans-serif;
    font-size: 14px;
    color: blueviolet
}
.innpakning {
    width: 700px;
    min-height: 300px;
    margin: 50px auto;
    background-color: greenyellow;
    display: flex;
}
.venstre, .høyre {
    margin: 30px;
}
.venstre {
    flex-grow: 1;
}
.hoyre {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    background-color: cadetblue;
}
.innhold {
    flex-grow: 1;
    background-color: beige;
    margin: 5px;
}
h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.shop_building {
    display: flex;
    flex-direction: row;
    border-width: 2px;
    border-style: solid;
    border-color: greenyellow;
}